# Temporal project files
bwta2.ncb
bwta2.suo
src/bwta.vcproj.*


# Binary folders
Debug
Release
Release-Log
Exe-Release

# Temporal binary folders
src/Debug
src/Release
src/Release-Log
src/Exe-Release